@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

/*       Fonts       */
$mainFont:          "Roboto", sans-serif; 
$headerWeight:      700;
$textWeight:        300;
$buttonTextWeight:  700;
$regularSize:       16px;


/*       Colors       */
$buttonColor:       #E4C1AE;
$white:             #FFF;
$black:             #121212;
$buttonActive:      #d9a78c;
$buttonHoverText:   #e6e6e6;
$buttonActiveText:  #bfbfbf;

html {
    font-size:      $regularSize;
}

/*      Main content        */

.module{
    max-width:                  1440px;
    margin-left:                auto;
    margin-right:               auto;
    h1{
        font-family:            $mainFont;
        font-weight:            $headerWeight;
        font-size:              2.625rem;
        color:                  $black;
        line-height:            50.4px;
    }
    p{
        font-family:            $mainFont;
        color:                  $black;
        line-height:            24px;
    }
    .mainContent{
        display:                flex;
        margin-top:             96px;
        margin-left:            auto;
        margin-right:           auto;
        .rightSide{
            margin-top:         auto;
            margin-bottom:      auto;
            margin-left:        95px;
            max-width:          380px;
        }
        @media (orientation: portrait){
            flex-direction:     column;
            width: 80%;
            .rightSide{
                margin-left:auto;
                margin-right: auto;
            }
            picture{
                margin-left:auto;
                margin-right: auto;
            }
            button{
                margin-left:auto;
                margin-right:auto;
            }
        }
    }
}

/*      Alert       */

.module .alertBackground{
    display:                    none;
    position:                   absolute;
    background-color:           rgba($black,0.5);
    width:                      100%;
    height:                     100%;
    inset:                      0;
    z-index:                    1;
    @media (orientation: portrait){
        overflow: scroll;
    }
    @media screen and (orientation: landscape) and (max-height: 900px){
        overflow: scroll;
    }
    .alertContent{
        min-width:              40%;
        position:               absolute;
        background-color:       $white;
        left:                   50%;
        top:                    50%;
        transform:              translate(-50%,-50%);
        padding:                46px 46px 56px 95px;
        h1{
            margin: 0;
        }
        .table{
            display: none;
        }
        .loadSection{
            display: none;
        }
        @media (orientation: portrait){
            @media  screen and (max-width: 430px)and (max-height: 700px){
                margin-top:120px;
            }
            @media screen and (max-width: 430px)and (min-height: 700px){
                margin-top: 80px;
            }
            min-width: 60%;
            max-width: 80%;
            padding: 12px 12px 16px 20px;
            .table{
                overflow: scroll;
            }
        }
        @media screen and (orientation: landscape) and (max-height: 800px){
            margin-top: 70px;
        }
        @media screen and (orientation: landscape) and (max-height: 700px){
            margin-top: 100px;
        }
        @media screen and (orientation: landscape) and (max-height: 600px){
            margin-top: 140px;
        }
    }
}

/*      Buttons     */

.generalBtn{
    font-family:                $mainFont;
    background-color:           $buttonColor;
    color:                      $white;
    border-radius:              32px;
    border-width:               0px;
    width:                      128px;
    height:                     48px;
    font-weight:                $headerWeight;
    font-size:                  1rem;
    line-height:                16px;
        &:hover{
            outline:            1px, solid, $black;
            color:              $buttonHoverText;
        }
        &:active{
            background-color:   $buttonActive;
            color:              $buttonActiveText;
            outline:            1px, solid, $black;
        }
}
.closeButton{
    color:                      $black;
    font-size:                  2rem;
    font-weight:                700;
    text-align:                 right;
    margin-block-start:         0;
    margin-block-end:           0;
    position: absolute;
    top: 46px;
    right: 46px;
    width: auto;
    box-shadow: none;
    border: none;
    background-color: $white;
        &:hover{
            color: $buttonActiveText;
        }
}
#resetCountBtn{
    display:                    none;
}